:root {
    --BLUE-SELF: #7794be;
    --BLUE-DEEP: #1d77ff;
    --BLUE-LIGHT: #9ec5ff;
    --BLUE-COTENT: #7892b8;
    --BLUE-INFO: #6797df;
}

a {
    text-decoration: none;
}

.main-wrapper {
    min-height: 100vh;
    display: flex;
}

.info-box {
    background-color: var(--BLUE-DEEP);
    flex-direction: column;
    display: flex;
    align-items: center; 
    width: 300px;
    color: white;
    flex-shrink: 0;
}

.content-box {
    background-color: var(--BLUE-LIGHT);
    flex-grow: 1;
}

.logo-wrapper {
    width: 60%;
    padding-bottom: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 100%;
    background-color: var(--BLUE-SELF);
}

.logo {
    width: 100%;
    height: 100%;
    background-color: var(--BLUE-SELF);
}

.info-list-wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.info-list-item {
    border-radius: 2em;
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: var(--BLUE-INFO);;
}

.info-list-item a{
    display: block;
    width: 100%;
    height: 100%;
    color: white;
}

.info-list-item a:hover{
    color: wheat;    
}

.content-list-wrapper {
    padding: 20px;
}

.content-list-item {
    border-radius: 2em;
    margin-bottom: 1em;
    background-color: var(--BLUE-COTENT);;
}

.content {
    text-transform: uppercase;
    padding: 20px;
    font-size: 10em;
}


  